@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

/*HEADER*/
header {
    background-color: black;
    color: orange;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: left;
}

header p {
    display: none;
}

/*BARRE DE NAVIGATION*/
nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/*MAIN*/
main div {
    display: flex;
    flex-flow: column wrap;
}

main div article img {
    max-width: 90%;
}

/*FOOTER*/

footer {
    display: none;
}

@media screen and (min-width: 1044px) {


    header {
        background-image: url("assets/istockphoto-887280896-1024x1024.jpg");
        color: white;
        font-family: 'Silkscreen', cursive;
    }

    header h1 {
        text-align: center;
        font-family: 'Silkscreen', cursive;

    }

    header p {
        display: block;
        text-align: center;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    main div {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    main div article {
        width: 30%;
    }

    main div article img {
        max-width: 90%;
    }

    footer {
        display: initial;
    }

    footer ul {
        text-align: center;
    }
}